# Data
/data/
/model_artifacts/
/*.csv
/*.xlsb
/*.xlsx

# Python
__pycache__/
*.pyc
env/
venv/
.venv/

# Notebook checkpoints
.ipynb_checkpoints/

# Mac / VSCode
.DS_Store
.vscode/

# Sensitive files
*.key
*.pem
secrets.yml

